<div class="row">
  <div class="col-xs-8">
    <h1><%= image_tag(@value.image.to_s)%> <%=@value.name%></h1>
  </div>
  <div class="col-xs-4 header-right">
    <%= link_to '+ Story', new_story_path, :class=>"btn btn-primary" %>
  </div>
</div>    
<div class="row">
  <div class="col-xs-12">
    <p><%=@value.description%></p>
  </div>
  <% @value.stories.each do |s| %>
    <div class="col-xs-12">
      <div>
        <p><i><%= s.created_at.strftime("Shared on %B %d, %Y") %></i></p>
        <p class="story"><%= s.text.html_safe %></p>
      </div>
    </div> 
  <% end %>
</div>
