<div class="row page-header details-header">
  <%= render_breadcrumbs %>
  <div class="col-xs-9 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="row">
      <div class="row">
        <div class="col-xs-9">
          <h1><%=@value.name%></h1>
        </div>
        <div class="col-xs-3 header-right">
        <%= link_to '+ Story', new_story_path, :class=>"btn btn-primary" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <p><%=@value.description%></p>
        </div>
      </div>
    </div>
  </div>
</div>    
<div class="row">
  <% @value.stories.each do |s| %>
    <div class="col-xs-9 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 details-story">
      <div>
        <p><i><%= s.created_at.strftime("Shared on %B %d, %Y") %></i></p>
        <p><%= s.text.html_safe %></p>
      </div>
    </div> 
  <% end %>
</div>
