<div class="row-fluid value-row">
  <%= link_to details_url() do %>
    <div class="col-xs-12 col-sm-6 col-md-4 value-item">
      <div class="col-xs-12">
        <h3>Evisions <small><%= @stories.count %> stories</small></h3>
      </div>
      <div class="col-xs-12">
        <p><strong>Purpose</strong> To create innovative software that will enhance and advance society</p>
      </div>
    </div>
  <% end %>
  <% @values.each do |v| %>
    <%= link_to details_path(v) do %>
      <div class="col-xs-12 col-sm-6 col-md-4 value-item">
        <div class="col-xs-12">
          <h3><%= v.name %> <small><%= v.stories.count %> stories</small></h3>
        </div>
        <div class="col-xs-12">
          <p><%= v.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% @stories.last(10).each do |s| %>
    <div class="col-xs-12 story-item">
      <div class="col-xs-12">
        <p><%= s.text.html_safe %></p>
      </div>
    </div>
  <% end %>
</div>
