<div class="row value-row">
  <%= render_breadcrumbs %>
  <% @values.each_with_index do |v, i| %>
    <%= link_to details_path(v) do %>
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 value-item">
        <h3><%= v.name %> <small><%= v.stories.count %> stories</small></h3>
        <p><%= v.description %></p>
      </div>
    <% end %>
  <% end %>
</div>
