<%= render_breadcrumbs %>
<div class="row-fluid value-row">
  <%= bootstrap_flash %>
  <div class="col-xs-10">
    <h1>Values</h1>
  </div>
  <div class="col-xs-2">
    <h2><%= link_to '+ New Value', new_value_path, :class=>"btn btn-primary"%></h2>
  </div>
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <col width="10%"></col>
        <col width="15%"></col>
        <col width="75%"></col>
        <tr>
          <th>Actions</th>
          <th>Value</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @values.each do |value| %>
          <tr>
            <td>
              <%= link_to 'Edit', edit_value_path(value) %> |
              <%= link_to 'Destroy', value, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <td><%= value.name %></td>
            <td><%= value.description.html_safe %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
