<div class="row-fluid user-row">
  <%= render_breadcrumbs %>
  <%= bootstrap_flash %>
  <div class="col-xs-9">
    <h1>Users</h1>
  </div>
  <div class="col-xs-3 btn-toolbar">
    <%= link_to " User", new_user_path, :class=>"btn btn-primary glyphicon glyphicon-plus pull-right"%>
    <%= link_to " CSV", users_path(format: "csv"), :class=>"btn btn-default glyphicon glyphicon-cloud-download pull-right" %>
  </div>
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <col width="10%"></col>
        <col width="15%"></col>
        <col width="15%"></col>
        <col width="60%"></col>
        <tr>
          <th>Actions</th>
          <th>Full Name</th>
          <th>Nickname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to '', edit_user_path(user), :class=>"glyphicon glyphicon-edit" %> |
              <%= link_to '', user, :class=>"glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <td><%= link_to user.full_name, user_path(user) %></td>
            <td><%= user.nickname %></td>
            <td><%= mail_to(user.email) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Import Users</h2>
    <%= form_tag import_users_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import", :class=>"btn btn-sm btn-primary"%>
    <% end %>
  </div>
</div>