<%= render_breadcrumbs %>
<div class="row">
  <div class="col-xs-12">
    <%= bootstrap_flash %>
    <p>
      <strong>Full Name:</strong>
      <%= @user.full_name %>
    </p>

    <p>
      <strong>Nickname:</strong>
      <%= @user.nickname %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
