<%= bootstrap_form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.bootsy_area :text, hide_label: true, placeholder: "Tell us who and what you are thankful for...", rows: 15, editor_options: { image: false}%>
    <%= f.select :value_id, options_for_select(Value.all.map{|s|[s.name, s.id]}), label: "Which value does this represent?" %>
    <%= f.submit "Save", :class=>"btn btn-sm btn-primary"%>
    <%= link_to 'Back', stories_path, :class=>"btn btn-sm btn-default" %>
<% end %>
