<%= bootstrap_form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_area :text, label: 'Details:'%>
  <%= f.select :value_id, options_for_select(Value.all.map{|s|[s.name, s.id]})%>
  <%= f.submit "Save", :class=>"btn btn-sm btn-primary"%>

<% end %>
