<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :text %><br>
    <%= f.text_area :text, :rows=>"3" %>
  </div>
  <div class="form-group">
    <%= f.label :value %><br />
    <%= f.select :value_id, options_for_select(Value.all.map{|s|[s.name, s.id]}) %>
  </div>

    <%= f.submit "Save", :class=>"btn btn-small btn-primary"%>

<% end %>
