<!DOCTYPE html>
<html>
<head>
  <title>Valuesboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container-fluid">
      <div class="col-xs-2">
        <nav class="bs-docs-sidebar">
          <ul class="nav bs-docs-sidebar">
            <li><a href="<%= root_path %>">Dashboard</a></li>
            <li>
              <a href="<%= stories_path %>">Stories</a>
              <ul class="nav">
                <li><a href="<%= new_story_path %>">Create New Story</a></li>
              </ul>
            </li>
            <li>
              <a href="<%= values_path %>">Values</a>
              <ul class="nav">
                <li><a href="<%= new_value_path %>">Create New Value</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-10">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
